<div class="row">
  <div class="com-md-6">
    <a routerLink="/" class="btn btn-link"><i class="fa fa-arrow-circle-o-left"></i>Bact to Dash</a>
  </div>
  <div class="com-md-6">

  </div>
</div>

<div class="card">
  <h3 class="card-header">
    Edit Settings
  </h3>
  <div class="card-block">
    <form (submit)="onSubmit()">
      <div class="form-group">
        <label>Allow Registration</label>
        <input type="checkbox" [checked]="settings.allowReg" (change)="settings.allowReg = !settings.allowReg" name="allowReg">
      </div>
      <div class="form-group">
        <label>Disabel Balance on Add</label>
        <input type="checkbox" [checked]="settings.disbaleBalOnAdd" (change)="settings.disbaleBalOnAdd = !settings.disbaleBalOnAdd" name="disbaleAdd">
      </div>
      <div class="form-group">
        <label>Disabel Balance on Edit</label>
        <input type="checkbox" [checked]="settings.disbaleBalOnEdit" (change)="settings.disbaleBalOnEdit = !settings.disbaleBalOnEdit" name="disableEdit">
      </div>
      <input type="submit" class="btn btn-primary" value="submit">
    </form>
  </div>
</div>
